body {
    padding: 0px !important;
    margin: 0px !important;
  }
  /* .letter-space {
    word-spacing: 0.2rem !important;
    letter-spacing: 0.3rem !important;
  } */
  
  
  .img-logo-f1{
    width: 5rem !important;
    height: auto !important;
  }
  /* .img-logo-f2 img {
    object-fit: contain !important;
    width: 100% !important;
    height: 100% !important;
  } */
  .img-logo-f2 {
    width: 10rem !important;
    height: auto !important;
  }
  
  @media screen and (max-width: 1204px) {
    .img-logo-f2 {
      width: 9rem !important;
      height: auto !important;
    }
    .img-logo-f1{
      width: 4rem !important;
      height: auto !important;
    }
  }
  @media screen and (max-width: 1035px) {
      .img-logo-f2 {
          width: 8rem !important;
          height: auto !important;
        }
        .img-logo-f1{
          width: 3.4rem !important;
          height: auto !important;
        }
        
  }
  
  @media only screen and (max-width: 991px) {
    .img-logo-f2 {
      width: 6.7rem !important;
      height: auto !important;
    }
    .img-logo-f1{
      width: 3.2rem !important;
      height: auto !important;
    }
   
  }
  @media only screen and (max-width: 892px) {
      .img-logo-f2 {
        width: 7rem !important;
        height: auto !important;
      }
      .img-logo-f1{
        width: 3rem !important;
        height: auto !important;
      }
    }
  @media only screen and (max-width: 700px) {
    .img-logo-f2 {
      width: 6rem !important;
      height: auto !important;
    }
    .img-logo-f1{
      width: 3.1rem !important;
      height: auto !important;
    }
  }
  @media only screen and (max-width: 499px) {
    .img-logo-f1{
      width: 5rem !important;
      height: auto !important;
    }
    .img-logo-f2 {
      width: 5rem !important;
      height: auto !important;
    }
  }
  @media only screen and (max-width: 421px) {
    .img-logo-f1{
      width: 3.5rem !important;
      height: auto !important;
    }
  
    .img-logo-f2 {
      width: 8rem !important;
      height: auto !important;
    }
  }
 
  